<label>Product Name</label>
<br />
<!-- One way data binding -->
<!-- <input type="text" (input)="onUpdateProductName($event)" /> -->
<!-- Two way data binding -->
<input type="text" [(ngModel)]="productName" />
<br />
{{ productName }}
<br />
<button
  #addProductButton
  [disabled]="!allowNewProduct"
  (click)="onCreateProduct()"
>
  Add product
</button>
<button
  #resetProductButton
  [disabled]="productName === ''"
  (click)="productName = ''"
>
  Reset
</button>
<br />
<!-- String interpolation -->
<p *ngIf="productCreated; else noProduct">{{ productCreationStatus }}</p>
<ng-template #noProduct>
  <p>No product was created!</p>
</ng-template>
<p [innerHTML]="allowNewProduct"></p>
<app-product *ngFor="let product of products"></app-product>
